#txtp{
    
font-family: 'Montserrat', sans-serif

  }
  
  #htxt{
font-family: 'Montserrat', sans-serif
  }
  
  #div1{
    
    background-color:#EEEEE0;
font-family: 'Grandstander', cursive;
    
    
  }
